:root {
  font-family: Open Runde, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: oklch(100% 0 0);
  --secondary: oklch(0% 0 0);
  --tertiary: oklch(0.71 0 0);
  --danger: oklch(0.5 0.21 27.41);
  color: var(--secondary);
  background-color: var(--primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.app {
  width: 24rem;
  height: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: min(20px, 4vw);
  text-align: center;
  font-weight: 500;
}
