:root {
  font-family: Open Runde, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: oklch(100% 0 0);
  --secondary: oklch(0% 0 0);
  --tertiary: lch(66.1 0 0);
  --danger: lch(40 86.1 38.63);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.app {
  width: 24rem;
  height: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: min(20px, 4vw);
  text-align: center;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
