.form {
  padding: clamp(1.5rem, 3vw, 2.5rem);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-field label {
  font-weight: 500;
  color: var(--secondary);
}

.form-field input {
  font-size: 1rem;
  font-family: inherit;
  color: var(--secondary);
  border: 1px solid color-mix(in oklch, var(--tertiary) 54%, transparent);
  border-radius: 0.875rem;
  padding: 0px 16px;
  height: 38px;
  transition: border-color 200ms ease, box-shadow 200ms ease;
}

.field-error {
  color: var(--danger);
  font-size: 0.875rem;
  margin: 0.1rem 0;
}

.form-field input[aria-invalid="true"] {
  border: 1.5px solid color-mix(in oklch, var(--danger) 84%, transparent);
  box-shadow: 0 0 0 4px color-mix(in oklch, var(--danger) 16%, transparent);

  &:focus {
    outline: none;
  }
}

.form button {
  --border-color: oklch(0.31 0.01 0);
  --stop-1: oklch(0.4 0 0);
  --stop-2: oklch(0.24 0 0);
  --stop-3: oklch(0.27 0 0);
  --sh-color-1: oklch(1 0 0 / 0.2);
  --sh-color-2: oklch(0 0 0 / 0.2);
  --active-color: oklch(0.29 0.01 0);
  --text-sh: oklch(0.14 0.02 215.95 / 0.4);

  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: oklch(1 0 0);
  border: 1px solid var(--border-color);
  border-radius: 0.725rem;
  padding-inline: 16px;
  height: 36px;
  background-image: linear-gradient(
    180deg,
    var(--stop-1),
    var(--stop-2),
    var(--stop-3)
  );
  box-shadow: inset 0 1px 0 var(--sh-color-1), inset 0 -1px 0 var(--sh-color-2),
    0 1px 2px var(--sh-color-2);
  transition: transform 200ms ease, border-color 200ms ease;
  cursor: pointer;
  &:hover:not(:active) {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.97);
    border-color: var(--active-color);
  }
}
